.bar {
  display: flex;
}

.flight-search div.location {
  flex-basis: calc(25% - 10px);
  margin-right: 10px;
  max-width: calc(25% - 10px);
}

.bar div.search-box {
  border: 1px solid #dbdde0;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px 15px;
  position: relative;
}

.bar div.search-box .label {
  display: block;
  font-size: 12px;
  line-height: 0px;
}

.search-box span.label {
  color: #04669f;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.bar div.search-box .value {
  color: #04669f;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.bar div.search-box .value + .sub-value {
  font-size: 12px;
  margin-top: 0;
}

.bar div.search-box .value span {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.bar div.search-box .sub-value {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search-box span.sub-value {
  color: #5d6974;
}

.bar div.search-box.has-swapper {
  padding-left: 25px;
}

.swapper {
  background-image: url(/image/hero-section/swap.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 35px;
  border-radius: 50%;
  height: 40px;
  left: -5px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
}

.flight-search div.date.depart {
  border-radius: 10px 0 0 10px;
}
.flight-search div.date {
  flex-basis: 15%;
}

.flight-search div.date.return {
  border-left: 0;
  border-radius: 0 10px 10px 0;
}

.bar div.search-box .sub-value.inline-style {
  white-space: normal;
}

.flight-search div.traveler {
  flex-basis: calc(20% - 10px);
  margin-left: 10px;
}

/* responsive */
@media only screen and (max-width: 991px) {
  .bar {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1199px) {
  .bar div.search-box {
    padding: 8px 10px;
  }
}

@media only screen and (max-width: 991px) {
  .flight-search div.from,
  .flight-search div.to {
    flex-basis: calc(50% - 5px);
    max-width: calc(50% - 5px);
    width: calc(50% - 5px);
  }
}

@media only screen and (max-width: 991px) {
  .flight-search div.to {
    margin-right: 0;
  }
}

@media only screen and (max-width: 991px) {
  .flight-search div.date.depart,
  .flight-search div.date.return {
    flex-basis: 50%;
    margin: 10px 0;
  }
}

@media only screen and (max-width: 991px) {
  .flight-search div.traveler {
    flex-basis: 100%;
    margin-left: 0;
    width: 100%;
  }
}

/* airport suggestion */

.airport-suggestion {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  left: 0;
  overflow-y: auto;
  position: absolute;
  top: calc(100% + 10px);
  width: 120%;
  z-index: 10;
}

.airport-suggestion .input-wrapper {
  padding: 10px 15px;
}

.airport-suggestion .input-wrapper span.close {
  display: none;
}

.close {
  float: right;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  color: inherit;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.airport-suggestion .input-wrapper input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../../../public/image/hero-section/search.png);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 14px;
  border: 0;
  display: block;
  outline: 0;
  padding-left: 20px;
  width: 100%;
  background-color: white;
  color: rgb(34, 33, 33);
}

.airport-suggestion .airport-list {
  max-height: 300px;
  overflow-y: auto;
}

.airport-list::-webkit-scrollbar {
  width: 12px;
}
.airport-list::-webkit-scrollbar-track {
  background: #ededed;
}
.airport-list::-webkit-scrollbar-thumb {
  background-color: #c0baba;
}

.airport-suggestion .airport-list .airport {
  transition: all 0.3 ease-in-out;
}

.airport-suggestion .airport-list .airport:first-child {
  background-color: #f5f5f5;
}

.airport-suggestion .airport-list .airport:hover {
  background-color: #f5f5f5;
}

.airport-suggestion .airport-list .airport {
  align-items: center;
  display: flex;
  padding: 8px 15px;
  gap: 12px;
}

.airport-suggestion .airport-list .airport .hr {
  border: 0.1px solid #989898;
  height: 30px;
}

.airport-suggestion .airport-list .airport .airport-location .city-country {
  color: #04669f;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.airport-suggestion .airport-list .airport .airport-location .airport-name {
  color: #04669f;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.airport-suggestion .airport-list .airport .code {
  color: #04669f;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
