@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: #ededed;
}
body::-webkit-scrollbar-thumb {
  background-color: #c0baba;
}

input,
button,
select,
optgroup,
textarea,
input[type="radio"] {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: inherit;
}

.no-scrollbar {
  scrollbar-width: none;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #fff;
  color: black !important;
  height: 70px;
  width: 80px;
  border-radius: 20px;
  transition: 0.3s;
  font-weight: 800;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 10px !important;
}
